
.quad{
  -webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -moz-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -o-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */

  -webkit-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -moz-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -o-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
}

.menu li{
  color:white;
  font-size:20px;
}
.menu a{
  color:white;
}

.dash{
  color:white;
}

.dash a{
  color:$green;
}

.menu a{
  color:white;
}
.logo span{
  color:white;
}
.dash_expand{
  height:100%;
}

#dash_sub{
  color:white;
  background: $purple;
}

#dash_list{
  padding:50px 0;
  color:black;
  background: $purple;
}
#dash_list h2{
color:white;
}

#dash_list li{
  margin:0;
  display:block;
}

#dash_list ul{
  padding:0;
}
.idea_body{
  overflow:hidden;
  max-height:40px;
}


#participants{
  padding:50px 0;
  color:black;
  background: $blue
}

#participants h2{
  color:white;
}


.kirje {
  font-family:"Noto Sans",sans-serif !important;
  margin-bottom: 0;
  border-bottom:1px solid #ccc;
  position: relative;
}
.kirje.minevik{
  color:#ccc;
}
.kirje i.fa-long-arrow-down{
  font-size:2em;
  position: absolute;
  right:7em;
  top:-0.35em;
  color:#ccc;
}
.aktuaalne {
  background-color: lightblue;
}
.kuupaev {
  float: left;
  padding: 0.3em 0.5em 0.3em 0.5em;
  margin-right: 1em;
  display: visible;
}
.tag {
  float: right;
  display: visible;
}
.nimi {
  float: right;
  display: visible;
}
.raha {
  float: right;
  display: none;
}
.seadus {
  float: right;
  display: none;
}

.repo_link a{
  color:white !important;
}



#resources{
  background:$green;
  padding:50px 0;
}

#mentors{
  padding:50px 0;
  background:$purple;
}

.mentor_inner{
  padding-left:0;
}


.closed{
  display:none;
  height:0;
}
.mentor_image img{
  width:100%;
}

.mentor_name{
  text-align:center;
}
.mentor_name a{
  color:white;
  text-decoration:none;

}
