<div><p>You have to provide some information about you and your plan for the hackathon. Since the room at the venue is limited, we might prefer people with a plan or relevant skills for the hackathon. Name, e-mail and skillset are required fields and you can hover on fields to get some guidance. Public data will be published and used on hackathon dashboard already before the event.</p>
<p>You can use MarkDown for multi-line fields and you can edit your entry later on GitHub or comment on all entries with Disqus!</p></div>

<form id="registerForm">

	<h3>Personal data</h3>

	<div class="regform"><input name="name" placeholder="Name" type="text" required size=50 title="Use a pseudonym, if you don't want to show your name public profile!"></div>
	<div class="regform"><input name="email" placeholder="Email" type="email" required size=50 title="E-mail is not shared publicly and is used to communicate with the organizers!"></div>
	<div class="regform"><input name="affiliation" placeholder="Organization" type="text" size=50 title="Mainly for organizers to get idea about the participants. Not published."></div>

	<h3>Public data</h3>

	<div class="regform"><input name="public_contact" size=50 placeholder="Contact (public)" type="text" title="E-mail to be published in the profile or home page/social media account that can be used to contact you the for this hackathon."></div>
	<div class="regform" style="padding-bottom: 1em;"><textarea name="about" placeholder="About you (public)" rows=3 cols=50 title="Say couple of words to introduce yourself to other participants. Don't have to be anything fancy, just one sentence will do."></textarea></div>
	<div class="regform">Describe your skillset:</div>
	<div class="regform"><select name="expertise" multiple size=8 required title="Select your special skills that will be used by other participants and organizers to see what teams can be formed. You can select more than one!">
		<option value="mediajourn">Media & journalism</option>
		<option value="sociohum">Social science & humanities</option>
		<option value="dev">IT & development</option>
		<option value="datastat">Statistics & data analysis</option>
		<option value="design">Design & data visualisation</option>
		<option value="leadership">Team leading</option>
		<option value="marketing">Marketing</option>
		<option value="citizen">Hey, I'm an outstanding citizen!</option>
	</select></div>
	<div class="regform"><input name="other_expertise" placeholder="More specific" type="text" title="If the categories above are not enough."></div>

	<h3>What can we do about post-truth?</h3>

	<div class="regform"><textarea name="idea" placeholder="Describe what do you want to do during the 24h hackathon and what and/or who do you need for making it happen..." rows=5 cols=50 title=""></textarea></div>
	<div class="regform"><input name="project_url" placeholder="Project URL" size=25 type="text" title="Provide a link to some site or material (blog, dataset, code repository, research project etc) that describes your project.">
	<input name="project_thumb" placeholder="Project thumbmail" type="file" title="You can upload thumbnail image for the project. This is purely for the presentation purposes. If you have image, it will we shown if you share your project on social media etc. Nice to have, but not ultimately necessary. There is a size limit of ~1 MB.">
	</div>

	<h3>Any comments?</h3>
	<div class="regform" style="padding-bottom: 1em"><textarea name="comment" placeholder="Any special needs or ideas, that you want to let the organizers know about?" rows=3 cols=50></textarea></div>

  	<div class="regform"><button type="submit" class="regbutton">Submit registration</button></div>
</form>

<div id="result"></div>

<script>
$( "#registerForm" ).submit(function( event ) {
  console.log("cors: " + $.support.cors);
  event.preventDefault();
  var formData = new FormData($(this)[0]);
  $.ajax({
		url: 'https://roji.infoaed.ee/cgi-bin/hack24.py',
		type: 'POST',
		data: formData,
		cache: false,
		contentType: false,
		crossDomain: true,
		enctype: 'multipart/form-data',
		processData: false,
		success: function(msg) {
			//var resp = JSON.parse(msg)
			$( "#result" ).empty().append( "<h3>Thank you for registering, expect an e-mail about it soon!</h3>");
			console.log("abc" + msg);
		},
		error:function(x,e) {
			$( "#result" ).empty().append( "<h3>Registration was sent to organizers, but proper confirmation wasn't received.</h3><div>You can contact p6der@ut.ee to ask if the registration was fine, if you don't get confirmation e-mail soon. Thanks for registering though and sorry for the inconvenience.</div>");
			if (x.status==0) {
				console.log('You are offline!!\n Please Check Your Network.');
			} else if(x.status==404) {
				console.log('Requested URL not found.');
			} else if(x.status==500) {
				console.log('Internel Server Error.');
			} else if(e=='parsererror') {
				console.log('Error.\nParsing JSON Request failed.' + x);
			} else if(e=='timeout'){
				console.log('Request Time out.');
			} else {
				console.log('Unknow Error.\n'+x.responseText);
			}
		}		
   }).done(function() {
	  console.log("Thank you, for contacting us");
	});
   console.log("zyx");

});


</script>
