{% extends "layout-dash.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
{% include 'includes/dash_nav.html' %}
        <!-- dash-sub.html -->
<section id="dash_sub">
        <div class="container">
          <h2>{{ this.title }}</h2>
          <p class="meta">
            {{ this.author }}
            <h3>Idea</h3>

          <div class="body">{{ this.body }}</div>
            <img src="{{ this.project_thumb }}" alt=""/>
            <div class="repo_link">
            <h4>On GitHub: <a href="https://github.com/infoaed/hack24/tree/master/content/dash/{{this['project_url']}}">https://github.com/infoaed/hack24/tree/master/content/dash/{{this['project_url']}}</a></h4>
            </div>
                <div class="comments">{{ render_disqus_comments() }}</div>
        </div>
</section>

{% endblock %}
