{% extends "layout.html" %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

<div class="container">
  {{ this.body }}

  <section id="dash" class="dash-sub">
    <ul class="dash-index">
    {% for post in this.pagination.items %}
      <li>
        <a href="{{ post|url }}">{{ post.title }}</a> —
        by {{ post.author }}
        on {{ post.pub_date|dateformat }}
      </li>
    {% endfor %}
    </ul>

    {% if this.pagination.pages > 1 %}
      {{ render_pagination(this.pagination) }}
    {% endif %}
  </section>
</div>

{% endblock %}
