{% extends "layout.html" %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
{% include 'includes/dash_nav.html' %}
  {{ this.body }}

  <section id="dash_list" class="">
      <div class="container">
          <div class="row">
      <h2>Ideas</h2>
          </div>
    <ul class="row">
    {% for post in this.pagination.items %}
        <li>
            <div class="panel kirje">
                <div class="panel-heading" role="button" data-toggle="collapse" href="#collapseExample{{ post.project_url }}" aria-expanded="false" aria-controls="collapseExample{{ post.project_url }}">
                    <h4 class="list-item">{{ post.title }}<span class="nimi">{{ post.author }}</span></h4>
                </div>
                <div class="collapse panel-body" id="collapseExample{{ post.project_url }}">
                    <div class="idea_body">{{ post.body }}</div>
                    <a href="{{post|url}}">Read more and discuss...</a>
                </div>
            </div>
        </li>

        {% endfor %}
    </ul>

    {% if this.pagination.pages > 1 %}
      {{ render_pagination(this.pagination) }}
    {% endif %}
      </div>
  </section>

    <section id="participants">
        <div class="container">
            <div class="row">
        <h2>Participants</h2>
            </div>
            <div class="row">

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Siia tulevad isiku detailid</h4>
                        </div>
                        <div class="modal-body">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Urmas_klaas_hansap%C3%A4eval.jpg/220px-Urmas_klaas_hansap%C3%A4eval.jpg">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input id="mediajourn_cb" type="checkbox" autocomplete="off" checked>Media & Journalism
                </label>
                <label class="btn btn-primary active">
                    <input id="sociohum_cb" type="checkbox" autocomplete="off" checked>Social science & Humanities
                </label>
                <label class="btn btn-primary active">
                    <input id="dev_cb" type="checkbox" autocomplete="off" checked>IT &amp; development
                </label>
                <label class="btn btn-primary active">
                    <input id="datastat_cb" type="checkbox" autocomplete="off">Statistics &amp; data analysis
                </label>
                <label class="btn btn-primary active">
                    <input id="design_cb" type="checkbox" autocomplete="off">Design &amp; data visualisation
                </label>
                <label class="btn btn-primary active">
                    <input id="leadership_cb" type="checkbox" autocomplete="off">Team leading &amp; project management
                </label>
                <label class="btn btn-primary active">
                    <input id="marketing_cb" type="checkbox" autocomplete="off">Marketing &amp; communication
                </label>
                <label class="btn btn-primary active">
                    <input id="citizen_cb" type="checkbox" autocomplete="off">Outstanding citizen
                </label>
            </div>
                {% for nr in range(1, 46) %}
            <div class="panel kirje">
                <div class="panel-heading" role="button" data-toggle="collapse" href="#collapseExample{{ this['participant_name_' + nr|string].replace(' ' , '_')  }}" aria-expanded="false" aria-controls="collapseExample1">
                    <h3 class="list-item">{{ this["participant_name_" + nr|string] }}

                        {% for item in this["participant_tags_" + nr|string].split(',') %}
                        <span class="badge {{ item }}">{{ item.replace('mediajourn' , 'Media & Journalism').replace('marketing','Marketing & Communication').replace('dev' , 'IT & Development').replace('datastat' , 'Statistics & Data analysis').replace('design' , 'Design & Data visualisation').replace('leadership' , 'Team leading & Project Management').replace('citizen' , 'Outstanding Citizen').replace('sociohum', 'Social science & Humanities') }}</span>
                        {% endfor %}
                        </h3>
                </div>
                <div class="collapse panel-body" id="collapseExample{{ this['participant_name_' + nr|string].replace(' ' , '_')  }}">
                    <h4>Public information</h4>
                    <p>{{ this["participant_public_contact_" + nr|string] }}</p>

                    {% if this['participant_project_url_' + nr|string] %}
                        <h4>Project URL</h4>
                        <a href="{{ this['participant_project_url_' + nr|string] }}">See project...</a>
                    {% endif %}

                    <h5>About {{ this["participant_name_" + nr|string] }}</h5>
                    {{ this["participant_about_" + nr|string] }}
                </div>
            </div>
                {% endfor %}




            </div>
            </div>
    </section>

<section id="resources">
    <div class="container">
        <div class="row">
        <h2>Hackathon toolkit</h2>
        </div>
        <div class="row">
            {{ this.resources }}
        </div>
    </div>
</section>

<section id="mentors">
    <div class="container">
        <div class="row">
        <h2>Mentors</h2>
        </div>
            <div class="row row-eq-height">
                {% for nr in range(1, 10) %}
                <div id = "{{ this['mentor_name_' + nr|string] }}" class="col-md-3 mentor_inner">
                    <div class="mentor_image">
                    <img src="{{ this['mentor_pic_' + nr|string] }}" alt=""/>
                    </div>
                    <div class="mentor_name" data-value="{{ this['mentor_name_' + nr|string].replace(' ' , '_')  }}">
                        <h3>{{ this["mentor_name_" + nr|string] }}</h3>

                        <div class="" id="{{ this['mentor_name_' + nr|string].replace(' ' , '_')  }}">
                            {{ this['mentor_description_' + nr|string] }}
                        </div>
                    </div>
                </div>
                    {% endfor %}


            </div>
    </div>
</section>



{% endblock %}



